.gridbox {
  --gap: 24px;
  display: grid;
  gap: var(--gap);
  grid-template-columns:
    repeat(
      auto-fill,
      minmax(
        min(100%, max(50% - var(--gap), 200px)), 1fr)
    );
}

.gridbox__item {
  padding: 1.35rem;
  border-radius: 4px;
  border: 1px solid rgb(54, 54, 54);
}

