header {
  align-items: center;
  background: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

header > * {
  margin: 4px;
  padding: 4px 8px;
}

main > * {
  margin: 24px 24px 0;
}

main > *:last-child {
  margin-bottom: 24px;
}

main,
footer {
  margin-top: 24px;
}

img,
iframe {
  width: 100%;
}