/* alegreya-regular - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local(''),
        url('../fonts/alegreya-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/alegreya-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/alegreya-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/alegreya-v29-latin-regular.svg#Alegreya') format('svg'); /* Legacy iOS */
}
/* alegreya-900 - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: local(''),
        url('../fonts/alegreya-v29-latin-900.woff') format('woff'), /* Modern Browsers */
        url('../fonts/alegreya-v29-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/alegreya-v29-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/alegreya-v29-latin-900.svg#Alegreya') format('svg'); /* Legacy iOS */
}