@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

.no-scroll {
  height: 100%;
  overflow-y: hidden;
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}