/* generics */
@import url(generics.css);

/* variables */
@import url(variables.css);

/* main */
@import url(main.css);

/* components */
@import url(components.css);

/* fonts */
@import url(fonts.css);
