body {
  font-family: 'Alegreya', serif;
}

.main__advertising {
  background-color: var(--color-light-gray);
  padding: 30px 100px;
  display: flex;
  justify-content: space-around;
}

.main__content {
  padding: 30px;
  margin: auto;
  max-width: 1200px;
}

.main__hero {
  height: 400px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.main__carousel {
  position: relative;
}

.main__content img {
  width: 100%;
}
  
.div1 { grid-area: 1 / 1 / 3 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 2 / 3 / 3; }

.main__teasers {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.main__section {
  margin-bottom: 30px;
}

.main__video {
  display: flex;
  justify-content: space-between;
}