:root {
  --color-black: #000;
  --color-dark-gray: #4a4a4a;
  --color-gray: #dbdbdb;
  --color-light-gray: #f5f5f5;
  --color-white: #fff;
  --color-green: #7ed31f;

  --background-color: #0D6392;
  --text-color: var(--color-white);

  --font-xlarge: 35px;
  --font-large: 18px;
  --font-base: 16px;
  --font-small: 13px;

  --line-height: 1.2;
  --line-height-large: 1.5;

  --spacing-large: 50px;
  --spacing-medium: 30px;
  --spacing-small: 20px;
  --spacing-xsmall: 15px;
}